@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&family=Roboto:wght@100;300;400;500;700;900&family=Rubik&display=swap');

/*   font style

font-family: 'Lato', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Rubik', sans-serif;

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'Rubik', 'Lato', sans-serif;
}

/* nav bar start */

.nav-belt {
    width: 100%;
    height: 44px;
    padding: 0 10% 0 10%;
    background-color: #fafafcf1;
}

.nav-main {
    padding: 0 10% 0 10%;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fafafcf1;
}

.logo {
    width: 30px;
    height: 30px;
    background-image: url('Image/Apple-logo.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.logo-main {
    padding-bottom: 0.35em;
}

.nav-main ul {
    display: flex;
}

.nav-main ul li {
    padding-bottom: 0.02em;
    margin: 0 1rem 0 1rem;
    list-style: none;
    text-decoration: none;
}

.nav-main ul li a {
    list-style: none;
    text-decoration: none;
    font-size: 12px;
}

/* nav bar end */

/* main section start */

/* hero1 for iphone 15 pro start */

.video-wrapper {
    background-color: #000;
    width: 100%;
}

#iphone-15-pro-anim {
    position: relative;
    bottom: 3em;
    width: 3008px;
    height: 624px;
}


/* hero1 start */

.discount-main {
    width: 100%;
    height: 44.5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.word-wrapper {
    margin-top: 2em;
    margin-bottom: 2em;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    position: absolute;
    z-index: 3;
    line-height: 1.5;
}

.w-wrappr {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* .hero1 {
    height: 680pxs;
} */

.heading {
    margin-left: auto;
    margin-right: auto;
    font-size: 53px;
    max-width: 511px;
    font-weight: 600;
    letter-spacing: -0.005em;
}

.sub-head {
    font-size: 27px;
    font-weight: 400;
    letter-spacing: 0.004em;
    display: inline-block;
    text-align: center;
}

.image-wrapper {
    padding-top: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f3f1f5;
}

/* hero2 start */

.hero2-bg {
    height: 680px;
}

.hero-image-2 {
    width: 100%;
    height: 625px;
    background-image: url('Image/grid-2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* hero3 start */

.hero3-bg {
    height: 680px;
}

.hero-image-3 {
    width: 100%;
    height: 625px;
    background-image: url('Image/hero_iphone14_yellow__eun20sn4imi6_large.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.sub-head3 {
    text-align: center;
    font-size: 27px;
    font-weight: 400;
    letter-spacing: 0.004em;
    text-align: center;
}

/* grid section start */

.grid-content {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr));
}

.grid-1, .grid-2, .grid-3, .grid-4 {
    width: 100%;
    max-width: 250px;
}

.grid-1-logo {
    margin: 5em auto 0 auto;
    height: 52px;
    min-width: 430px;
    background-image: url('Image/grid-7-logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 137px 52px;
}

.text-wrapper h5 {
    margin: 11px auto 0 auto;
}

.text-wrapper p {
    font-size: 17px;
    line-height: 1.23536;
    font-weight: 400;
    letter-spacing: .0322em;
    color: #6e6e73;
    text-align: center;
    margin-top: 12px;
}

.grid-1 {
    margin: 0 0 1em 1em;
    height: 580px;
    width: 100%;
    min-width: 525px;
    background-image: url('Image/grid-7.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
}

.grid-1 .cta a {
    position: relative;
    display: inline-block;
    z-index: 3;
    height: 580px;
    width: 100%;
    min-width: 525px;
    bottom: 12.5em;
}

.grid-2-logo {
    margin: 5em auto 0 auto;
    height: 52px;
    min-width: 430px;
    background-image: url('Image/grid-8-logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 137px 52px;
}

.grid-2 .text-wrapper {
    text-align: center;
}

.grid-2 {
    margin: 0 0 1em 1em;
    height: 580px;
    width: 100%;
    min-width: 525px;
    background-image: url('Image/grid-8.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.grid-2 .cta a {
    position: relative;
    display: inline-block;
    z-index: 3;
    height: 580px;
    width: 100%;
    min-width: 525px;
    bottom: 12.5em;
}

/* footer start */

footer {
    background-color: #f5f5f7;
}

.footer-content {
    margin: 0 auto;
    padding: 0 22px;
    max-width: 980px;
    color: #6e6e73;
}

/* footer-top start */

.footer-top {
    padding: 17px 0 11px;
}

.footer-top ul li {
    padding-bottom: 0.8em;
    list-style: none;
    font-size: 0.8em;
}

.footer-top ul li a {
    color: #424245;
    font-weight: 500;
}

@media screen and (max-width:768px) {
    .grid-content{
        grid-template-columns: 1fr;
    }

    .grid-1, .grid-2, .grid-3, .grid-4 {
        width: 100%;
    }
}