/* text color */

.w-text {
    color: #323233;
}

.b-text {
    color: #000000;
}

.b1-text {
    color: #1d1d1f;
}

.b2-text{
    color: #f5f5f7;
}

.blue-1 {
    color: #2997ff;
}

/* hover effects  */

.w-text:hover {
    color: #000000;
    font-weight: 500;
}

.underline:hover {
    text-decoration: underline;
}

/* margin & padding */


.p-015 {
    padding-top: 0.15em;
}

.p-1 {
    padding-left: 1em;
}

.m-r-1 {
    margin-right: 0.75em;
}

/* font style */

#f-17 {
    font-size: 17px;
}

.f-27 {
    font-size: 20px;
}

.text-dn {
    text-decoration: none;
}

/* grid content */

.grid-f {
    font-size: 20px;
    line-height: 1.2381;
    font-weight: 400;
    letter-spacing: .016em;
}

/* cta-links start */

